<ion-header>
  <ion-toolbar>
    <ion-title>QuickTrade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center">Mis Ventas</h1>
  <ion-card *ngFor="let item of ventas">
    <ion-card-header>
      <ion-card-title>Name: {{item.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{item.description}}  </p>
      <p>Id: {{item.id}}</p>
      <p>----------------------------------------------------------------------</p>
      <h1>Calificación</h1>      
      <ion-input [(ngModel)]="punctuation" type="number" max=5 min=0></ion-input>
      <ion-button [shape]="btnShape" (click)="addEnvio()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
